#gameContainer {
    background-color: green;
}

.gameSprite {
    position: absolute;
    cursor: pointer;
}

#player {
    position: absolute;
    background-size: cover;
    pointer-events: none;
    font-size: 190px;
    user-select: none;
}

#target {
    font-size: 128px;
    user-select: none;
}

.targetCounter {
    font-size: 80px;
}

#startGame {
    padding: 20px 40px; /* Adjusts the size of the button */
    font-size: 24px; /* Makes the text larger */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    background-color: #007bff; /* Sets a background color */
    color: white; /* Sets the text color */
    border: none; /* Removes the default border */
    border-radius: 5px; /* Optional: adds rounded corners */
    transition: background-color 0.3s; /* Smooth background color change on hover */
}

#startGame:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

#score {
    user-select: none;
}